<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wowcomm.dev_chatbot.mapper.G5_member_Mapper">
 <!-- 로그인 시 확인 -->

<select id="check_Member_login" resultType="G5_member_VO" parameterType="G5_member_VO">
	select * from g5_member where mb_id = #{mb_id }
</select> 

<!-- 로그인 시 확인 -->
<select id="Member_List" resultType="G5_member_VO">
	select * from g5_member
</select>

<insert id="insert_Member" parameterType="G5_member_VO">
INSERT INTO g5_member(
mb_id,
mb_password,
mb_password2,
mb_name, 
mb_nick, 
mb_nick_date, 
mb_email, 
mb_homepage, 
mb_level, 
mb_sex, 
mb_birth, 
mb_tel, 
mb_hp, 
mb_certify, 
mb_adult, 
mb_dupinfo, 
mb_zip1, 
mb_zip2, 
mb_addr1, 
mb_addr2, 
mb_addr3, 
mb_addr_jibeon, 
mb_signature, 
mb_recommend, 
mb_point, 
mb_today_login, 
mb_login_ip, 
mb_datetime, 
mb_ip, 
mb_leave_date, 
mb_intercept_date, 
mb_email_certify, 
mb_email_certify2, 
mb_memo, 
mb_lost_certify, 
mb_mailling, 
mb_sms, 
mb_open, 
mb_open_date, 
mb_profile, 
mb_memo_call, 
sday, 
eday, 
mb_1, 
mb_2, 
mb_3, 
mb_4, 
mb_5, 
mb_6, 
mb_7, 
mb_8, 
mb_9, 
mb_10
)VALUES(
#{mb_id }, 
#{mb_password }, 
'', 
'이황균', 
'이황균', 
'2022-06-11', 
'poxdkr@naver.com', 
'Q-BOT', 
10, 
'm', 
'1989', 
'010-9981-7506', 
'010-9981-7506', 
'd', 
0, 
'd', 
'd', 
'd', 
'd', 
'd', 
'd', 
'd', 
'c', 
'd', 
0, 
'2022-06-13 00:00:00.000', 
'dd', 
'2022-06-13 00:00:00.000', 
'd', 
'2', 
'd', 
'2022-06-13 00:00:00.000', 
'd', 
's', 
'd', 
0, 
0, 
0, 
'2022-06-13', 
'ADMIN', 
'd', 
'2022-06-13', 
'2022-06-13', 
'', 
'', 
'', 
'', 
'', 
'', 
'', 
'', 
'', 
''
)
</insert>

<update id="password_change" parameterType="HashMap">
	update g5_member set mb_password = #{mb_password } where mb_id = #{mb_id };
</update>

</mapper>