<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wowcomm.dev_chatbot.mapper.Scenario_main_info_Mapper">

	<select id="cnt_scenario_main_info" resultType="int">
		SELECT COUNT(*) as cnt FROM scenario_main_info
	</select>
	
	<select id="getScene_By_scn_code" resultType="Scenario_main_info_VO" parameterType="Scenario_main_info_VO">
		SELECT * FROM SCENARIO_MAIN_INFO WHERE SCN_CODE = #{scn_code }
	</select>
	
	
	
</mapper>